body {
  margin: 0;
  background-color: white; }

h1 {
  color: #147082; }

h2, h3 {
  color: #448793; }

a, a:visited {
  text-decoration: none;
  color: #39ABC0; }

#title_bar, #content {
  padding: 0 10px; }
