body {	
	margin: 0;
	background-color: #F6F6F6;
}
h1 {
	color: #BC4676;
}
h2, h3 {
	color: #6B6C6F;
}
a, a:visited {
	text-decoration: none;
	color: #732947;
}
#title_bar, #content {
	padding: 0 10px;
}