<!DOCTYPE HTML>
%html
	%head
		%title= title
		- stylesheets.each do |css_file|
			%link{:rel => "stylesheet", :type => "text/css", :href => css_file}
		- javascripts.each do|js_file|
			%script{:type => "text/javascript", :src => js_file}
	%body		
		%div{:class => "navbar navbar-fixed-top"}
			%div{:class => "navbar-inner"}
				%div{:class => "container"}
					%a{:class => "brand", :href => root_href}= title
					%form{:class => "navbar-search pull-left"}
						%input{:id => "search", :type => "text", :class => "search-query", :placeholder => "Search"}
		%div{:id => "secondary-nav"}
			%ul{:class => "breadcrumb container"}
				- bread_crumbs_rel.each_index do|ind|
					%li
						%a{:href => bread_crumbs_rel[ind]}= titleize(File.basename bread_crumbs_rel[ind], ".*")
						- unless ind == (bread_crumbs_rel.length - 1)
							%span{:class => "divider"} /
		%div{:id => "content", :class => "container"}
			#page_content= content