@import 'bourbon/bourbon';
body {
	padding-top: 74px;
}
.navbar {
	margin-bottom: 0;
}
.navbar-inner, .breadcrumb {
	border-radius: 0;
}
#secondary-nav {
	position: fixed;
	width: 100%;
	margin: 0;
	top: 40px;
	@include linear-gradient(top, #ffffff, #f5f5f5);
    border: 1px solid #dddddd;
}
.breadcrumb {
	margin: 0 auto;
	border: none;
}
#content {
	margin-top: 1em;
}