- unless (dirs = directories).empty?
	%h3 Directories
	%ul
		- dirs.each do |child|
			%li
				%a{:href => child.link}= titleize(File.basename child.link, ".*")

%h3 Files
%ul
	- files.each do |child|
		%li
			%a{:href => child.link}= titleize(File.basename child.link, ".*")