%html
	%head
		%title= title
		- unless css_path.nil?
			%link{:rel => "stylesheet", :type => "text/css", :href => css_path}
	%body
		%div{:id => "container"}
			%div{:id => "title_bar"}
				%h1
					%a{:href => root_href}= title
			%div{:id => "content"}
				%h2= titleize header
				#page_content= content