%html
	%head
		%title= title
		- javascripts.each do|js_file|
			%script{:type => "text/javascript", :src => js_file}
		- stylesheets.each do |css_file|
			%link{:rel => "stylesheet", :type => "text/css", :href => css_file}
	%body
		%div{:id => "container"}
			%div{:id => "title_bar"}
				%h1
					%a{:href => root_href}= title
			%div{:id => "bread_crumbs"}
				- bread_crumbs_rel.each do|crumb|
					%a{:href => crumb}= titleize(File.basename crumb, ".*")
			%div{:id => "search_container", :data => {:index => search_json_path}}
				%input{:type => "text", :id => "search"}
			%div{:id => "content"}
				#page_content= content